<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>A fantastical adventure</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Fill in the blanks to write your story!</h1>
    <form action="/adventure" method="post">
     <label for="person1">Person1</label>
     <input id="person1" name="person1" type="text">
     <label for="person2">Person2</label>
     <input id="person2" name="person2" type="text">
     <label for="animal">Animal</label>
     <input id="animal" name="animal" type="text">
     <label for="exclamation">Exclamation</label>
     <input id="exclamation" name="exclamation" type="text">
     <label for="verb">Verb</label>
     <input id="verb" name="verb" type="text">
     <label for="noun">Noun</label>
     <input id="noun" name="noun" type="text">
     <button type="submit">Go!</button>
    </form>
  </body>
</html>
